form {
  max-width: 400px;
  margin: auto;
  margin-top: 40px;
}
.my-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f7f7f7;
}

.my-form label {
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

